* {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #E3F4F4;
  color: #092635;
  min-height: 100vh;
}

.wrapper h1 {
  margin-top: 10px;
  text-align: center;
}

.wrapper p {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.wrapper .main {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.wrapper .form-container {
  width: 500px;
  min-height: 430px;
  background-color: #1B4242;
  margin: 20px auto;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
}

.wrapper .form-container .btn {
  width: 100%;
  background-color: #9EC8B9;
  color: #092635;
  font-weight: 500;
  max-width: fit-content;
  padding: .5rem 4rem;
  border: none;
  transition: 0.2s all ease-out;
}
.wrapper .form-container .btn:hover{
  transform: translateY(-3px);
  letter-spacing: 0.5px;
}


.wrapper .view-container {
  width: 600px;
  background-color: #5C8374;
  color: #ffffff;
  font-weight: 500;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

tbody {
  margin-top: 25px;
}
